<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.commerce.controlar.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>com.commerce.controlar.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeAddServlet</servlet-name>
        <servlet-class>com.commerce.controlar.EmployeeAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeshboard</servlet-name>
        <servlet-class>com.commerce.controlar.UserDeshboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControlar</servlet-name>
        <servlet-class>com.commerce.controlar.LoginControlar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationControlar</servlet-name>
        <servlet-class>com.commerce.controlar.RegistrationControlar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.commerce.controlar.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeAddServlet</servlet-name>
        <url-pattern>/EmployeeAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeshboard</servlet-name>
        <url-pattern>/UserDeshboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControlar</servlet-name>
        <url-pattern>/LoginControlar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationControlar</servlet-name>
        <url-pattern>/RegistrationControlar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
</web-app>
